{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<form method="POST" action="/reset_password/{{ token }}">
    {{ form.hidden_tag() }} <!-- CSRF token -->
    <fieldset id="reset_password_form">
        <legend>Reset Password</legend>
        <div class="table rows">
            <p>
                <label>{{ form.password.label }}</label>
                {{ form.password() }}
            </p>
            <p>
                <label>{{ form.confirm_password.label }}</label>
                {{ form.confirm_password() }}
            </p>
            <p>
                <label></label>
                {{ form.submit() }}
            </p>
        </div>
    </fieldset>
</form>
{% endblock %}