{% extends "base.html" %}

{% block title %}Reset Password Request{% endblock %}

{% block content %}
<form method="POST" action="/reset_password_request">
    {{ form.hidden_tag() }} <!-- CSRF token -->
    <fieldset id="reset_password_request_form">
        <legend>Reset Password Form</legend>
        <div class="table rows">
            <p>
                <label>{{ form.email.label }}</label>
                {{ form.email() }}
            </p>
            <p>
                <label></label>
                {{ form.submit() }}
            </p>
        </div>
    </fieldset>
</form>
{% endblock %}